<template>
  <div>
    <div v-if="state != 'loading' && state != 'initial' && reccomendations.length > 0" class="text-center mb-5">
      <h2 style="color: green;" class="mb-5">The results are in!</h2>

      <table id="cryptos" class="text-left">
        <tr style="font-size: 1.5em;">
          <th>Crypto</th>
          <th>Price</th>
          <th>Price in {{ responseDays }} days</th>
          <th>Score</th>
          <th class="text-right">Profit</th>
        </tr>

        <tr v-for="rec in reccomendations" :key="rec.symbol">
          <td style="font-size: 1.25em;">{{ rec.symbol }}</td>
          <td>$ {{ rec.currentPrice.toFixed(2) }}</td>
          <td>$ {{ rec.priceRange[0].toFixed(2) }} - $ {{ rec.priceRange[1].toFixed(2) }}</td>
          <td>{{ rec.score }}</td>
          <td class="text-right">
            <span :style="'color: ' + profitColor(rec.profitRange[0])">{{ rec.profitRange[0].toFixed(2) }}%</span>
            -
            <span :style="'color: ' + profitColor(rec.profitRange[1])">{{ rec.profitRange[1].toFixed(2) }}%</span>
          </td>
        </tr>
      </table>

      <div class="mt-10" style="font-size: 1.5em; font-weight: 500;">Need another lambo?</div>
    </div>

    <v-form v-if="state != 'loading'">
      <v-container>
        <v-row align="center" justify="center">
          <v-col cols="4">
            <v-text-field label="Time interval (days)" outlined type="number" v-model="days"></v-text-field>
          </v-col>
        </v-row>

        <v-row align="center" justify="center">
          <v-col cols="4">
            <v-text-field label="Min market cap ($)" outlined type="number" v-model="minMarketCapDollars"></v-text-field>
          </v-col>

          <v-col cols="4">
            <v-text-field label="Max market cap ($)" outlined type="number" v-model="maxMarketCapDollars"></v-text-field>
          </v-col>
        </v-row>

        <v-row align="center" justify="center">
          <v-col cols="4">
            <v-text-field label="Min 24h volume ($)" outlined type="number" v-model="min24hVolume"></v-text-field>
          </v-col>

          <v-col cols="4">
            <v-text-field label="Max 24h volume ($)" outlined type="number" v-model="max24hVolume"></v-text-field>
          </v-col>
        </v-row>

        <v-row>
          <v-col cols="4"></v-col>
          <v-col>
            <v-btn color="success" @click="sendForm">Recommend me some crypto</v-btn>
          </v-col>
          <v-col cols="4"></v-col>
        </v-row>
      </v-container>
    </v-form>

    <div v-if="state == 'loading'" class="text-center">
      <div class="mt-2">
        {{ loadingText }}
      </div>

      <div class="my-5">
        <v-progress-circular
          indeterminate
          color="white"
          :size="50"
        ></v-progress-circular>
      </div>

      <div>
        <img :src="`${publicPath}where-lambo.jpg`" width="400px" class="ml-4">
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'InvestmentForm',

  data() {
    return {
      publicPath: process.env.BASE_URL,
      days: 7,
      minMarketCapDollars: 0,
      maxMarketCapDollars: 10000000000000000,
      min24hVolume: 0,
      max24hVolume: 10000000000000000,
      state: "initial",
      loadingTextArray: [
        "Reading through Elon Musk's Twitter...",
        "Checking if funds are safu...",
        "Multiplying some numbers...",
        "Eating a burrito...",
        "Dividing some numbers...",
        "Performing Wolf of Wallstreet chant...",
        "Watching the news...",
        "Planning tax-evasion strategy..."
      ],
      loadingText: "",
      reccomendations: [
      ]
    }
  },

  mounted() {
    let self = this;
    let counter = 0;
    self.loadingText = self.loadingTextArray[counter];
    counter++;

    setInterval(() => {
      if (counter >= self.loadingTextArray.length) {
        counter = 0;
      }
      self.loadingText = self.loadingTextArray[counter];
      counter++;
    }, 3000);
  },

  methods: {
    async sendForm() {
      this.state = "loading";

      let self = this;
      setTimeout(async () => {
        try {
          let response = await self.axios.post("recommend", {
            days: self.days,
            minMarketCapDollars: self.minMarketCapDollars,
            maxMarketCapDollars: self.maxMarketCapDollars,
            min24hVolume: self.min24hVolume,
            max24hVolume: self.max24hVolume
          });
          console.log(response);
          self.state = "results"
          self.responseDays = response.data.days;
          self.reccomendations = response.data.cryptocurrencies;

          for (let i = 0; i < self.reccomendations.length; i++) {
            let r = self.reccomendations[i];
            r.profitRange = self.findProfitRange(r);
            r.priceRange = self.findPriceRange(r);
          }

          self.reccomendations.sort((a, b) => b.score - a.score);
        } catch (error) {
          console.log(error);
          alert(error);
        }
      }, 1);
    },

    findProfitRange(r) {
      let arr = [r.predictedProfit7d, r.predictedProfit30d, r.predictedProfit365d];
      arr.sort();

      return [arr[0], arr[2]];
    },

    findPriceRange(r) {
      let arr = [r.predictedPrice7d, r.predictedPrice30d, r.predictedPrice365d];
      arr.sort();

      return [arr[0], arr[2]];
    },

    profitColor(profit) {
      if (profit < 0) {
        return "red";
      } else {
        return "green";
      }
    }
  }
}
</script>


<style>
#cryptos {
  border-collapse: collapse;
  width: 100%;
}

#cryptos tr:nth-child(even) {
  background-color: #2a2a2a;
}

#cryptos tr:hover {
  background-color: rgb(73, 73, 73);
}

#cryptos td, #cryptos th {
  padding: 8px;
}
</style>
